.loginbox{
    width: 320px;
    height:460px;
    background: #000;
    color:#fff;
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border-radius: 5%;
    padding: 70px 30px;
}

.swrapper{
    position: relative;
    text-align: center;
}
.icon{
    position: absolute;
    width:100%;
    top: -120px;
    /* left: calc(50% - 70px); */
}

.icon i{
    width: 100px;
    height: 100px;
    font-size: 50px;
    color:#fff;
    background: var(--new-color);
    border-radius:50%;
    line-height: 100px;
}

h1{
    margin:0;
    padding:0 0 20px;
    text-align: center;
    font-size: 22px;
}
.loginbox p{
    margin: 0;
    padding:0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height:40px;
    color: #fff;
    font-size: 16px;
}

.loginbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: var(--new-color);
    color: #fff;
    font-size:18px;
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
.loginbox a{
    text-decoration: none;
    font-size:12px;
    line-height: 20px;
    color: darkgrey;
}

.loginbox a:hover{
    color: #ffc107;
}