.menu-wrap{
    position:fixed;
    top:0;
    left:0;
    z-index:1;
}

.menu-wrap{
    position: absolute;
    top:0;
    left:0;
    z-index: 2;
    cursor:pointer;
    width: 50px;
    height:50px;
    opacity: 0;
}

.menu-wrap .hamburger{
    position: absolute;
    top: 0;
    left:0;
    z-index: 2;
    width:60px;
    height:60px;
    padding:rem;
    background: var(--primary-color);
    display:flex;
    align-items:center;
    justify-content:center;
}

/*HAMBURGER LINE*/

.menu-wrap .hamburger > div{
    position: relative;
    width:200%;
    height: 2px;
    background-color: #000;
    display:flex;
    align-items:center;
    justify-content: center;
}
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after{
    content:'';
    position:absolute;
    z-index:1;
    top:-10px;
    width:100%;
    height:2px;
    background:inherit;
}

.menu-wrap .hamburger > div:after{
    top: 10px;
}