:root{
    --primary-color: rgba(250,250,250,0.6);
    --overlay-color: rgba(24,39,51,0.85);
    --new-color: #48a9a6;
    --logo-color: #2c3e50;
    --menu-speed:0.75s;
}
html,body{
    margin:0;
    padding:0;
    /*width:100%;
    height:100%; */
    /* overflow-x:hidden; */    
}

body{
    font-family: Poppins;
    line-height: 1.4;
    /* background: url("../image/transparentcastle.png") no-repeat 50% 50%; */
}

.container{
    position: relative;
    width: 100%;
    height: 100vh;
    transition:0.5s;
    background-color: #cedde7;
   /*  background: url("../image/transparentcastle.png") no-repeat 50% 50%; */
}


.address-search{
    position: absolute;
    top:42%;
    left:50%;
    transform: translate(-50%,-50%);
    background: #2f3640;
    height: 30px;
    width: 500px;
    border-radius:20px;
    padding:10px

}
.address-locate{
    color: #e84118;
    float: left;
    width:40px;
    height:30px;
    border-radius:50%;
    background: #2f3640;
    display:flex;
    justify-content:center;
    align-items:center;

}
.address-locate i{
    color: azure;
}
.address-text{
    border:none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color:white;
    font-size:16px;
    transition:0.4s;
    line-height:30px;
    width: 300px;
}
.cart i{
    color: azure;
}
.overlay{
    z-index: 2;
    position: absolute;
    width: 100%;
    height:100vh;
    background: #101010;
}

.overlay p{
    font-size: 300px;
    font-weight: 800;
}

.screen{
    color:#323232;
    font-family:Poppins;
    position: absolute;
    top:12%;
    left:50%;
    transform: translate(-50%,-50%);
}

.myBtn{
    font-family: Poppins;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

 .intro button{
    display: block;
    padding: 24px 48px;
    font-family: Poppins;
    font-weight:700;
    font-size: 12px;
    letter-spacing: 6px;
    color: #fff;
    border: 2px solid #fff;
    text-transform: uppercase;
    outline:none;
    overflow:hidden;
    background:none;
    z-index: 1;
    cursor: crosshair;
    transition: 0.8s ease-out;
} 

.myBtn:hover{
    color: #101010;
    cursor:crosshair;
}

.myBtn:before{
    content: "";
    position: absolute;
    background:#fff;
    bottom:0;
    left:0;
    right:0;
    top:100%;
    z-index:-1;
    transition: top 0.8s ease-out;
}

.myBtn:hover:before{
    top:0;
}  


/*navigation bar*/
.nav-links .active{
    color:#575fcf;
}
.nav-links2 .active{
    color:#575fcf;
}

nav{
    font-family: 'Poppins', sans-serif;
    display:flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    max-height: 8vh;
    background-color: #ffffff;
}

.logo{
    color: #2c3e50;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}
.logo2{
    color: #2c3e50;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links{
    padding:0px;
    margin:0px;
    position: absolute;
    left:-20%; /*changed from right to left */
    height:92vh;
    top:8vh;
    background-color:#ffffff;
    display: flex;
    justify-content: space-around;
    flex-direction:column;
    align-items:center;
    width: 20%;
    z-index:1;
    transform:translateX(0%); /*changed from 100 to 0 */
    transition: transform 0.5s ease-in;
}

.nav-links2{
    padding:0px;
    margin:0px;
    position: absolute;
    Right:-20%; /*changed from right to left */
    height:92vh;
    top:8vh;
    background-color:#ffffff;
    display: flex;
    justify-content: space-around;
    flex-direction:column;
    align-items:center;
    width: 20%;
    z-index:1;
    transform:translateX(0%); /*changed from 100 to 0 */
    transition: transform 0.5s ease-in;
}
.nav-active{
    transform: translateX(100%); /*changed from 0 to 100 */
}

.nav-active2{
    transform: translateX(-100%); /*changed from 0 to 100 */
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform:translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes navLinkFade2{
    from{
        opacity: 0;
        transform:translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.nav-links a{
    color:#2c3e50;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 19px;
    font-weight: 300;
}
.nav-links li:hover{
    transform:translateY(-5px);
    transition: all 0.3s ease;
}

.nav-links li{
    list-style: none;
}

.nav-links2 a{
    color:#2c3e50;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 19px;
    font-weight: 300;
}
.nav-links2 li:hover{
    transform:translateY(-5px);
    transition: all 0.3s ease;
}

.nav-links2 li{
    list-style: none;
}
/*burger menu animation*/
.burger{
    display: block;
}

.burger2{
    display: block;
}

.burger div{
    width:25px;
    height:3px;
    background-color:#2c3e50;
    margin:5px;
    transition: all 0.3s ease;
}
.burger2 div{
    width:25px;
    height:3px;
    background-color:#2c3e50;
    margin:5px;
    transition: all 0.3s ease;
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
/*end of burger menu animation*/

/*barcode popup*/
.container#blur.active{
    filter: blur(10px);
    pointer-events: none;
    user-select: none;
}

/*   feature restaurant   */

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 25%;
    
    min-width: 200px;
}
.row >.col-4{
    flex-basis: 20%;
    padding: 10px;
    min-width: 150px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 70%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position:relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content:'';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%)
}
.col-4:hover{
    transform: translateY(-5px);
}

.offer{
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 0px;
    padding:30px 0;
}
.col-2 .offer-img{
    padding: 50px;
}

.btn{
    display: inline-block;
    background: #ff523b;
    color:#fff;
    padding:8px 30px;
    margin:30px 0;
    border-radius:30px;
    text-decoration: none;

}
small{
    color: #555;
}
/*footer start*/
.footer > .container1,
          .footer > .row{
    background: #000;
    color: #8a8a8a;
    font-size:14px;
    padding:60px 0 20px;
    height:20%;
}

.copyright{
    background-color: #000000;
}

.footer p{
    color: #8a8a8a;
    margin-top: 0%;
}

.footer h3{
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1, footer-col-2, footer-col-3{
    min-width:250px;
    margin-bottom:20px;
}

.footer-col-1{
    flex-basis:30%;
}

.footer-col-1 i{
    color: azure;

}
.footer-col-2, .footer-col-3{
    flex-basis: 12%;
    text-align: center;
}
.footer-col-2 i{
    color: azure;
    
}
.footer-col-3 i{
    color: azure;
}
.footer-col-3 a{
    text-decoration: none;
    color: #8a8a8a;
}

.footer ul{
    list-style-type: none;
    text-align: left;
    padding-left: 30%;
}
.app-logo{
    margin-top:20px;
}
.app-logo img{
    width: 140px
}
.hometable {
    display: block;
    margin-left:20% ;
    /* padding: 2% 5% 5% 5%; */
    text-align: center;
    overflow: auto;
    background: #ffffff;
    width: 60%;
    height: 87%;
    justify-content: center;
    align-items:center;
  }
.h1{
    width:3%;
    position:relative;
    top:60px;
    left:90%;
    cursor:pointer;
}
.h1:before{
    content:attr(data-count);
    position:absolute;
    color:white;
    right:16px;
    font-size:15px;
    text-align:center;
    top:-12px;
    width:20px;
    height:20px;
    background:red;
    border-radius:50%;
    opacity:0;

}
h1.zero:before{
    opacity:1;
}
section{
    width: 90%;
    height:400px;
    display:flex;
    justify-content:space-around;
    margin:100px auto;
}
section div{
    width:22%;
    height:93%;
    background: #f5f5f5;
    padding:1%;
    position:relative;

}
img{
    width :300px;
    height:186px;
}
p{
    margin:5px;
}

h6{
    width: 50px;
    padding:5px;
    margin:10px;
    font-size:15px;

}
button{
    padding:5px;
    background:red;
    border:none;
    outline:none;
    font-weight: bold;
    color:#fafafa;
    cursor:pointer;
}
section div span{
    position:absolute;
    top:14px;
    left:13px;
    width:300px;
    height:186px;
    display:none;
}
section div span img{
    width:100%;
    height:100%;
}
  .select{
      width:60%;
      height:580px;
      background: #222;
      position: absolute;
      top:-1000px;
      left:20%;
      transition:0.5s;
      overflow-y:auto;;
      margin:auto;

  }
  .select div{
      width :100%;
      height:200px;
      display:flex;
      padding: 5px;
      border:1px solid white;
      position: relative;
      margin:5px auto;
  }
  .select div img{
      width: 300px;
      height:100%;
  }
  .select div p{
      padding: 35px;
      color:white;
  }
.select div h6,
.select div button{
    position:absolute;
    left:45%;
    top:50%;
    color:white;
}

.select div button{
    left:60%;
    top:55%;
}
.select div span{
    display:none;
}
h1.zero:before{
    opacity:1;
}
#popup{
    text-align: center;
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-45%);
    width: 900px;
    height:700px;
    padding: 50px;
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    
}
#popup a{
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding: 5px 20px;
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    background: #111;
    border-radius: 3px;
}
#popup.active{
    top: 40%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

#popup2{
    text-align: center;
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-55%,-40%);
    width: 1000px;
    height:800px;
    padding: 50px;
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    
}
#popup2 a{
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding: 5px 20px;
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    background: #111;
    border-radius: 3px;
}
#popup2.active{
    top: 40%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
/*barcode popup end*/

.form-box{
    max-width: 400px;
    background-color: rgba(225,225,225,0.1);
    /* margin:150px auto;
    padding:40px; */
    border-radius:8px;
    margin-left: 150px;
}
.form-box label input{
    display:none;
}
.form-box label{
    display:block;
    cursor:pointer;
    margin-bottom:20px;
    padding-left:55px;
    position: relative;
}
.form-box label .circle{
    height:20px;
    width:20px;
    border:5px solid #0a0a0a;
    border-radius:50%;
    display:inline-block;
    position: absolute;
    left:0;
    top:-5px;
    transition: color .5s ease;
}
.form-box label .circle::before{
    content:'';
    height:20px;
    width: 20px;
    background-color:#ff9800;
    position: absolute;
    left:0;
    top:0;
    border-radius: 50%;
    box-sizing: border-box;
    /* margin-left: 7px;
    margin-top: 7px; */
    transition:transform .5s ease;
    transform: scale(0);

}
.form-box label span{
    font-size:20px;
    color: #080808;
    display:inline-block;
}
.form-box label input:checked +.circle{
    border-color: #ff9800;

}
.form-box label input:checked +.circle::before{
    transform: scale(1);
}
.form-box label input:checked +.circle + span{
    color: #ff9800;
}



.form-box2{
    max-width: 400px;
    background-color: rgba(225,225,225,0.1);
    margin-left: 150px;
    /* padding:40px; */
    border-radius:8px;

}
.form-box2 label input{
    display:none;
}
.form-box2 label{
    display:block;
    cursor:pointer;
    margin-bottom:20px;
    padding-left:55px;
    position: relative;
}
.form-box2 label .circle2{
    height:20px;
    width:20px;
    border:5px solid #0a0a0a;
    border-radius:50%;
    display:inline-block;
    position: absolute;
    left:0;
    top:-5px;
    transition: color .5s ease;
}
.form-box2 label .circle2::before{
    content:'';
    height:20px;
    width: 20px;
    background-color:#ff9800;
    position: absolute;
    left:0;
    top:0;
    border-radius: 50%;
    box-sizing: border-box;
    /* margin-left: 7px;
    margin-top: 7px; */
    transition:transform .5s ease;
    transform: scale(0);

}
.form-box2 label span{
    font-size:20px;
    color: #080808;
    display:inline-block;
}
.form-box2 label input:checked +.circle2{
    border-color: #ff9800;

}
.form-box2 label input:checked +.circle2::before{
    transform: scale(1);
}
.form-box2 label input:checked +.circle2 + span{
    color: #ff9800;
}
#popup3{
    text-align: center;
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-55%,-40%);
    width: 700px;
    height:700px;
    padding: 50px;
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    
}
#popup3 a{
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding: 5px 20px;
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    background: #111;
    border-radius: 3px;
}
#popup3.active{
    top: 40%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

