:root{
    --primary-color: rgba(250,250,250,0.6);
    --overlay-color: rgba(24,39,51,0.85);
    --new-color: #48a9a6;
    --logo-color: #2c3e50;
    --menu-speed:0.75s;
}
html,body{
    margin:0;
    padding:0;
    /*width:100%;
    height:100%; */
    overflow-x:hidden;    
}

body{
    font-family: Poppins;
    line-height: 1.4;
    /* background: url("../image/transparentcastle.png") no-repeat 50% 50%; */
}

.container{
    position: relative;
    width: 100%;
    height: 100vh;
    transition:0.5s;
    background: url("../image/transparentcastle.png") no-repeat 50% 50%;
}
/*barcode popup*/
.container#blur.active{
    filter: blur(10px);
    pointer-events: none;
    user-select: none;
}
#popup{
    text-align: center;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
#popup a{
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding: 5px 20px;
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    background: #111;
    border-radius: 3px;
}
#popup.active{
    top: 40%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
/*barcode popup end*/

.address-search{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: #2f3640;
    height: 30px;
    width: 500px;
    border-radius:20px;
    padding:10px

}
.address-locate{
    color: #e84118;
    float: left;
    width:40px;
    height:30px;
    border-radius:50%;
    background: #2f3640;
    display:flex;
    justify-content:center;
    align-items:center;

}
.address-text{
    border:none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color:white;
    font-size:16px;
    transition:0.4s;
    line-height:30px;
    width: 300px;
}
.showcase .showcase-inner{
    display:flex;
    /*flex-direction: column;*/
    align-items: center;
    justify-content: center;
    text-align:center;
    height:100%;
}


.showcase h1{
    font-size: 4rem;
}

.showcase p{
    font-size: 1.3rem;
}

.overlay{
    z-index: 2;
    position: absolute;
    width: 100%;
    height:100vh;
    background: #101010;
}

.overlay p{
    font-size: 300px;
    font-weight: 800;
}

.screen{
    color:#323232;
    font-family:Poppins;
    position: absolute;
    top:12%;
    left:50%;
    transform: translate(-50%,-50%);
}

.myBtn{
    font-family: Poppins;
    position: absolute;
    top:60%;
    left:50%;
    transform:translate(-50%,-50%);
}

 .intro button{
    display: block;
    padding: 24px 48px;
    font-family: Poppins;
    font-weight:700;
    font-size: 12px;
    letter-spacing: 6px;
    color: #fff;
    border: 2px solid #fff;
    text-transform: uppercase;
    outline:none;
    overflow:hidden;
    background:none;
    z-index: 1;
    cursor: crosshair;
    transition: 0.8s ease-out;
} 

.myBtn:hover{
    color: #101010;
    cursor:crosshair;
}

.myBtn:before{
    content: "";
    position: absolute;
    background:#fff;
    bottom:0;
    left:0;
    right:0;
    top:100%;
    z-index:-1;
    transition: top 0.8s ease-out;
}

.myBtn:hover:before{
    top:0;
}  


/*navigation bar*/
.nav-links .active{
    color:#575fcf;
}


nav{
    font-family: 'Poppins', sans-serif;
    display:flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    max-height: 8vh;
    background-color: #ffffff;
}

.logo{
    color: #2c3e50;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links{
    padding:0px;
    margin:0px;
    position: absolute;
    left:-20%; /*changed from right to left */
    height:92vh;
    top:8vh;
    background-color:#ffffff;
    display: flex;
    justify-content: space-around;
    flex-direction:column;
    align-items:center;
    width: 20%;
    z-index:1;
    transform:translateX(0%); /*changed from 100 to 0 */
    transition: transform 0.5s ease-in;
}

.nav-active{
    transform: translateX(100%); /*changed from 0 to 100 */
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform:translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

/* .nav-links{
    display: flex;
    justify-content: space-around;
    width: 70%;
} */

.nav-links a{
    color:#2c3e50;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 19px;
    font-weight: 300;
}
.nav-links li:hover{
    transform:translateY(-5px);
    transition: all 0.3s ease;
}

.nav-links li{
    list-style: none;
}

/*burger menu animation*/
.burger{
    display: block;
}


.burger div{
    width:25px;
    height:3px;
    background-color:#2c3e50;
    margin:5px;
    transition: all 0.3s ease;
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
/*end of burger menu animation*/


