:root{
    --primary-color: rgba(13,110,139,0.75);
    --overlay-color: rgba(24,39,51,0.85);
    --menu-speed:0.75s;
}
html,body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}

body{
    cursor: crosshair;
    font-family: Poppins;
    background: url("../image/castlegrey.jpg") no-repeat 50% 50%;
    line-height: 1.4;
}
/* .container{
    max-width:960px;
    margin:auto;
    overflow: hidden;
    padding: 0.3rem;
} */

.showcase{
    background-color: var(--primary-color);
    color: #ffffff;
    height:100vh;
    position: relative; 
    align-items: center;
    justify-content: center;
    text-align:center;
    height:100%;
}

.showcase:before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
}

.showcase .showcase-inner{
    display:flex;
    /*flex-direction: column;*/
    align-items: center;
    justify-content: center;
    text-align:center;
    height:100%;
}


.showcase h1{
    font-size: 4rem;
}

.showcase p{
    font-size: 1.3rem;
}

.showcase .btn{
    display:inline-block;
    border: none;
    background-color:var(--primary-color);
    color: #ffffff;
    padding: 0.75rem;
    margin-top: 1rem;
    text-decoration: none;
    transition: opacity 1s ease-in;
}

.btn:hover{
    opacity:1;
}

/* .content{
    width: 60%;
    margin:0 auto;
    z-index: -1;
    position: absolute;
    top:60%;
    left: 10%;
    transform: translate(0,-50%);

}

.content h1{
    font-family: Poppins;
    font-size: 54px;
    color: #101010;
    font-weight: 700;
    text-transform:uppercase;
    margin-bottom: 10px;

}

.content p{
    margin-top:0;
    text-align: left;
    font-weight: 400;
}
 */
.overlay-2{
    z-index: 0;
    position:absolute;
    width:100%;
    height:100vh;
    background: #48a9a6;
}

.overlay{
    z-index: 1;
    position: absolute;
    width: 100%;
    height:100vh;
    background: #101010;
}

.overlay p{
    font-size: 300px;
    font-weight: 800;
}

.screen{
    color:#323232;
    font-family:Poppins;
    position: absolute;
    top:12%;
    left:50%;
    transform: translate(-50%,-50%);
}

.myBtn{
    font-family: Poppins;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

button{
    display: block;
    padding: 24px 48px;
    font-family: Poppins;
    font-weight:700;
    font-size: 12px;
    letter-spacing: 6px;
    color: #fff;
    border: 2px solid #fff;
    text-transform: uppercase;
    outline:none;
    overflow:hidden;
    background:none;
    z-index: 1;
    cursor: crosshair;
    transition: 0.8s ease-out;
}

.myBtn:hover{
    color: #101010;
    cursor:crosshair;
}

.myBtn:before{
    content: "";
    position: absolute;
    background:#fff;
    bottom:0;
    left:0;
    right:0;
    top:100%;
    z-index:-1;
    transition: top 0.8s ease-out;
}

.myBtn:hover:before{
    top:0;
}  


/*navigation bar*/
.nav-links .active{
    color:#575fcf;
}


nav{
    font-family: 'Poppins', sans-serif;
    display:flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #ffffff;
}

.logo{
    color: #2c3e50;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.nav-links a{
    color:#2c3e50;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 14px;
}
.nav-links :hover{
    transform:translateY(-5px);
    transition: all 0.3s ease;
}

.nav-links li{
    list-style: none;
}

/* .burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width:25px;
    height:3px;
    background-color:#2c3e50;
    margin:5px;
    transition: all 0.3s ease;
} */
/*end of navigation bar*/


/*Adaptive design*/
/* @media screen and (max-width:1150px){
    body{
        overflow-x: hidden;
    } 
    .nav-links{
        position: absolute;
        right:0px;
        height:92vh;
        top:8vh;
        background-color:#ffffff;
        display: flex;
        flex-direction:column;
        align-items:center;
        width: 20%;
        transform:translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity:0;
    }
    .burger{
        display: block;
    }
 } */

 /*.nav-active{
    transform: translateX(0%);
}
 
 @keyframes navLinkFade{
    from{
        opacity: 0;
        transform:translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
} */
/*end of adaptive design*/

/*burger menu animation*/
/*.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}*/
/*end of burger menu animation*/

h1{
    margin:0;
    padding:0;
    text-align: center;
    justify-content: space-around;
}
