.user button{
    color: var(--logo-color);
}

.container#blur.active{
    filter: blur(10px);
    pointer-events: none;
    user-select: none;
}
#popup{
    text-align: center;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
#popup a{
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding: 5px 20px;
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    background: #111;
    border-radius: 3px;
}
#popup.active{
    top: 40%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

p, h2{
    color: var(--logo-color);
    letter-spacing: 2px;
    margin-bottom: 0;
    
}
.dropdown{
    display: block;
    font-size: 15px;
    height:10vh;
    justify-content: space-around;
    align-items:center;
    margin: auto;
}

.address h2{
    margin-bottom: 0;
}
.address p{
    margin-top: 2px;
}

.time, .user{
    position: relative;
    align-items: center;
}

.time h2, .user h2{
    margin-top: 92px; 
    margin-bottom: 0px;
}

.time ul, .user ul{
    margin: 0;
    padding-left:0;
    position: absolute;
    /* bottom:0px; */
    left: -10px;
    list-style: none;
    background: var(--new-color);
    height: 75px;
    width: 100px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    opacity:0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: all 0.4s ease;
}

.time a, .user a{
    color: var(--logo-color);
    text-decoration: none;
}

.time li, .user li{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items:center;
}
.time li:hover,
.user li:hover{
    background-color: #fff;
    border-radius: 5px;
}


.dropdown button{
    background: none;
    border: none;
    color: var(--logo-color);
    font-size: 15px;
    cursor: pointer;
    margin-top: 2px;
    letter-spacing: 2px;
}

.dropdown button:hover{
    color: var(--new-color);
}

.time button:focus + ul,
.user button:focus + ul{
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
}

